# Byte-compiled files
__pycache__/
*.py[cod]

# Environment and config
.env
*.env
config/credentials.json

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code config
.vscode/

# Raw & processed data
data/**
!data/**/.gitkeep